.register-form-block{
    background-color:#181818;
    height:100vh;
    width:100%
}
.override{
    padding-right:0!important;
    padding-left:0!important
}
label,span{
    color:#ccc
}
label{
    margin-top:12px!important
}
.myTitle{
    font-size:48px
}
input[type=email],input[type=password],input[type=submit],input[type=text],select{
    width:95%;
    padding:6px 10px!important;
    color:#ccc;
    background:#181818;
    border:1px solid #555;
    font-size:14px
}
input[type=submit]{
    background:#31afd4;
    margin-top:24px
}
select{
    color:#ccc!important;
    font-size:14px!important
}
.banner{
    display:flex;
    text-align:center;
    height:100vh;
    background-position:50%;
    background-image:url(../media/log.jpg);
    background-size:cover;
    width:100%;
    flex:6;
    display:block;
    margin-top:-20px
}
.learnMore{
    border:2px solid #fff;
    padding:11px 47px;
    color:#ccc;
    font-weight:500;
    font-size:20px
}
.ml10{
    position:relative;
    font-weight:900;
    font-size:48px
}
.ml10 .text-wrapper{
    position:relative;
    display:inline-block;
    margin-top:30%;
    margin-bottom:24px
}
.ml10 .letter{
    display:inline-block;
    line-height:1em;
    transform-origin:0 0
}
.homePageBanner{
    position:relative
}
.homePageImage{
    width:100%
}
.button{
    position:absolute;
    bottom:50%;
    left:16%;
    border:2px solid #fff;
    padding:11px 47px;
    color:#ccc!important;
    text-decoration:none;
    font-weight:500;
    font-size:20px;
    background:linear-gradient(to right,#555 ,#31afd4)
}
.aboutUsDetails{
    position:absolute;
    width:50%;
    top:5%;
    right:5%;
    color:#ccc!important;
    background-color:rgba(65,49,49,.5);
    font-weight:700;
    font-size:16px;
    letter-spacing:1px;
    line-height:1.6
}
